@model CM.Data.ViewModels.Medicine.ManufacturerViewModel
<div class="modal" data-keyboard="false" data-backdrop="static" id="addManufacturer" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title">Manufacturer Details</h4>
                <button class="mdi mdi-close" data-dismiss="modal" />
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddAppointment", "Appointment", new { Area = "Admin" }, FormMethod.Post, new { id = "manufacturerForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id, new { id = "manufacturerId" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "manufacturerName" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "manufacturerDescription"} })
                    </div>

                }
            </div>
            <div class="modal-footer">
                <input type="submit" id="appointmentButton" onclick="addManufacturer()" class="btn btn-gradient-primary btn-rounded btn-fw" value="Add">
                <input type="reset" onclick="resetManufacturerForm()" class="btn btn-gradient-secondary btn-rounded btn-fw" value="Reset">
            </div>
        </div>
    </div>
</div>

