<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    @Styles.Render("~/assets/materialDesignIconsCss")
    @Styles.Render("~/assets/vendorsCss")
    @Styles.Render("~/assets/styles")
    @Styles.Render("~/assets/siteCss")
    @Styles.Render("~/assets/jqueryDatatablesCss")
    @Styles.Render("~/assets/dateTimePickerCss")
    @Styles.Render("~/assets/bootstrapCss")
    @Styles.Render("~/assets/vendorsCss")
    .
    
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:Navigation Bar -->
        @Html.Partial("_Navbar")

        <div class="container-fluid page-body-wrapper">
            <!-- partial:Side Navigation Menu -->
            @Html.Partial("_Sidebar")

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    @Scripts.Render("~/assets/jqueryJs")
    @Scripts.Render("~/assets/bootstrapJs")
    @Scripts.Render("~/assets/validateClientSideScripts")
    @Scripts.Render("~/assets/vendorsJs")
    @Scripts.Render("~/assets/dateTimePickerJs")
    @Scripts.Render("~/assets/notifyJs")
    @Scripts.Render("~/assets/datatablesJs")
    @Scripts.Render("~/assets/scripts")
    @RenderSection("scripts", required: false)
</body>locallo
</html>