<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/assets/materialDesignIconsCss")
    @Styles.Render("~/assets/styles")
    @Styles.Render("~/assets/siteCss")
    @Styles.Render("~/assets/jqueryDatatablesCss")
    @Styles.Render("~/assets/dateTimePickerCss")
   

    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        @Html.Partial("_Navbar")

        <div class="container-fluid page-body-wrapper">
            @Html.Partial("_Sidebar")

            <div class="main-panel" id="mainPanel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/assets/jqueryJs")
    @Scripts.Render("~/assets/datatablesJs")
    @Scripts.Render("~/assets/validateClientSideScripts")
    @Scripts.Render("~/assets/dateTimePickerJs")
    @Scripts.Render("~/assets/notifyJs")
    @Scripts.Render("~/assets/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>