<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    @Styles.Render("~/assets/styles")
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:Navigation Bar -->
        @Html.Partial("_Navbar")

        <div class="container-fluid page-body-wrapper">
            <!-- partial:Side Navigation Menu -->
            @Html.Partial("_Sidebar")

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @Scripts.Render("~/assets/scripts")
</body>
</html>