<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Chetan Kumar</span>
                    <span class="text-secondary text-small">Admin</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Home",new { Area="Admin",})">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#reception-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Reception</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
            <div class="collapse" id="reception-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> @Html.ActionLink("Appointments", "ViewAppointments", "Appointment", new { Area = "Admin" }, new { @class = "nav-link" }) </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#reminder-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Reminders</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-bell-ring"></i>
            </a>
            <div class="collapse" id="reminder-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> @Html.ActionLink("Control Panel", "Appointment", "Appointment", new { Area = "Admin" }, new { @class = "nav-link" }) </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#billing-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Billing</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-book-open"></i>
            </a>
            <div class="collapse" id="billing-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> @Html.ActionLink("Create", "Appointment", "Appointment", new { Area = "Admin" }, new { @class = "nav-link" }) </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#medicine-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Medicine Stock</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
            <div class="collapse" id="medicine-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> @Html.ActionLink("Add New", "AddNew", "Medicine", new { Area = "Admin" }, new { @class = "nav-link" }) </li>
                </ul>
            </div>

            <div class="collapse" id="medicine-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> @Html.ActionLink("View", "View", "Medicine", new { Area = "Admin" }, new { @class = "nav-link" }) </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>