@model CM.Data.ViewModels.Appointment.AppointmentViewModel
@{
    /**/

    Layout = null;
}

@using (Html.BeginForm("AddAppointment", "Appointment", new { Area = "Admin" }, FormMethod.Post, new { onsubmit = "return onAddAppointment(this)" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
        @Html.DropDownListFor(model =>model.Gender, new List<SelectListItem>{
         new SelectListItem{ Text="Male", Value="Male"},
         new SelectListItem{ Text="Female", Value="Female"}
         }, "--- Select ---", new { @class = "form-control"}
         )
        @Html.ValidationMessageFor(model => model.Gender)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MailId, new { @class = "control-label" })
        @Html.EditorFor(model => model.MailId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DOA, new { @class = "control-label" })
        <div class="input-append date form_datetime">
            @Html.EditorFor(model => model.DOA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        @Html.ValidationMessageFor(model => model.DOA)
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary btn-sm" />
        <input type="reset" value="Reset" class="btn btn-light btn-sm" />
    </div>
}


